
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expenses</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Expenses</a>
        </li>
        {% comment %} <li>
          <a href="{% url 'tags_list' %}">Tags</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'mealplans_list' %}">Meal Plans</a>
        </li>
        <li>
          <a href="{% url 'shopping_list' %}">Shop List &#40;{{ total_item_shop }}&#41;</a>
        </li>
        {% endif %}
        {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %} {% endcomment %}
        {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
        {% comment %} <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a>
        </li> {% endcomment %}
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'create_receipt' %}">Create a Receipt</a>
        </li>
        <li>
            <a href="{% url 'list_categories' %}">Categories</a>
        </li>
        <li>
            <a href="{% url 'create_category' %}">Create a Category</a>
        </li>
        <li>
            <a href="{% url 'accounts_list' %}">Accounts</a>
        </li>
        <li>
            <a href="{% url 'create_account' %}">Create an Account</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% block pagination %}
    {% endblock pagination %}
  </header>

  {% block content %}
  {% endblock content %}
</body>

</html>
