{% extends 'base.html' %}


{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for acc in account_list %}
                    <tr>
                        <td>{{acc}}</td>
                        <td>{{acc.number}}</td>
                        <td>{{acc.receipts.all | length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </main>
{% endblock content %}
