{% extends 'base.html' %}


{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in expensecategory_list %}
                    <tr>
                        <td>{{category}}</td>
                        <td>{{category.receipts.all | length}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </main>
{% endblock content %}
